*{
  margin:0;
  padding:0;
}
.carrousel{
    width: 90%;

};


.swiper {
  width: 90%;
}
.swiper-wrapper{
  position: relative;
  width: 800px;
  height: 500px;
  z-index:1;
  display: flex;
  box-sizing: content-box;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  }

.swiper-slide img {
  max-width: 100%;
  height: 40em;
  object-fit: cover;
  filter:brightness(0.55)
}

@media screen and (max-width:768px){
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 20em;
    object-fit: fill;
    filter:brightness(0.55)
  }
}
@media screen and (max-width:1062px){
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 28em;
    object-fit: cover;
    filter:brightness(0.55)
  }
}
  